.mainImgA {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal {
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    padding: 1rem;  
    background-color: rgba(255,255,255,0.7);
}

.modalInfo {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;  
    padding: 1rem;  
    background-color: white;
    box-shadow: 16px 8px 16px 4px whitesmoke;
    border : 0.5px solid whitesmoke;
    border-radius: 8px;
    align-self: center;
}

.modalLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%; 
}

.modalClose{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;   
}

.postLink {
    text-decoration: none;
}

.mainImg {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
/*

@media screen and (max-width: 299px) {

    .AppDetail {
        width: 85vw;
        height: 88vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 1rem;
        background-color: var(--content-color-background-hover);
        box-shadow: -4px 4px 8px 3px var(--main-color-text);
        border-radius: 5px; 
    }

    .text-content{
        height: 48%;
        width: 92%;
    }

    .mainImgContainer{
        height: 52%;
        max-width: 90%;
    }

    .mainImgA{
        height: 90%;
    }

    .firstBox {
        width: 100%;
        height: 85%;
        padding-top: 0rem;
        padding-bottom: 0.75rem;
        margin: 0px;
    }

    .secondBox {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        display: none;
        flex-direction: column;
    }
    .cardTitle{
        height: 30px;
    }

    .voirCode{
        display: none
    }
    
    .underBox {
        flex-direction: column;
        width: 80%;
        height: 90%;
    }

    .topRow {
        width: 50%;
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .bottomRow {
        width: 50%;
        height: 50%;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .app-secondary-img {
        height: auto;
        max-height: 100px;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;
    }

    .app-name {
        font-size: 16px;
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 5px;
        width: 70%;
    }

    .githubLogo {
        max-height: 1rem;
        max-width: 1rem;
        margin-left: 1rem;
        margin-top: 0.25rem;
    }
    
    .app-text {
        width: 100%;
        font-size: 9px;
        margin: 0px;
        padding-bottom: 5px;
        text-align: justify;
        text-align-last: left;
    }

    .app-description{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .app-client{
        margin: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .app-stack{
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 300px) and (max-width: 520px) {
    .AppDetail {
        width: 75vw;
        height: 88vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 1rem;
        background-color: var(--content-color-background-hover);
        box-shadow: -4px 4px 8px 3px var(--main-color-text);
        border-radius: 5px; 
    }

    .text-content{
        height: 48%;
    }

    .mainImgContainer{
        height: 52%;
        max-width: 90%;
    }

    .mainImgA{
        height: 90%;
    }

    .firstBox {
        width: 100%;
        height: 85%;
        padding-top: 0rem;
        padding-bottom: 0.75rem;
        margin: 0px;
    }

    .secondBox {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        display: none;
        flex-direction: column;
    }
    .cardTitle{
        height: 30px;
    }

    .voirCode{
        display: none
    }
    
    .underBox {
        flex-direction: column;
        width: 80%;
        height: 90%;
    }

    .topRow {
        width: 50%;
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .bottomRow {
        width: 50%;
        height: 50%;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .app-secondary-img {
        height: auto;
        max-height: 100px;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;
    }

    .app-name {
        font-size: 16px;
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 5px;
        width: 70%;
    }

    .githubLogo {
        max-height: 1rem;
        max-width: 1rem;
        margin-left: 1rem;
        margin-top: 0.25rem;
    }
    
    .app-text {
        width: 100%;
        font-size: 10px;
        margin: 7px;
        margin-top: 5px;
        padding-bottom: 5px;
        text-align: justify;
        text-align-last: left;
    }

    .app-description{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .app-client{
        margin: 0px;
        margin-left: 5px;
    }

    .app-stack{
        margin-top: 0px;
        margin-bottom: 15px;
    }
}


@media screen and (min-width: 521px) and (max-width: 619px) {
    .AppDetail {
        width: 75vw;
        height: 84vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 1rem;
        background-color: var(--content-color-background-hover);
        box-shadow: -4px 4px 8px 3px var(--main-color-text);
        border-radius: 5px; 
    }

    .text-content{
        height: 55%;
    }

    .mainImgContainer{
        height: 52%;
        padding-bottom: 5px;
    }

    .firstBox {
        width: 100%;
        height: 60%;
        padding-top: 0.5rem;
    }

    .secondBox {
        width: 100%;
        height: 40%;
        margin-top: 0px;
        padding-top: 25px;
        margin-bottom: 0px;
    }
    .cardTitle{
        height: 40px;
    }

    .voirCode{
        visibility: hidden;
    }
    
    .underBox {
        flex-direction: row;
        width: 80%;
    }

    .topRow {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .bottomRow {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .app-secondary-img {
        height: auto;
        max-height: 100%;
    }

    .app-name {
        font-size: 16px;
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 5px;
        width: 40%;
    }

    .githubLogo {
        max-height: 1rem;
        max-width: 1rem;
        margin-left: 1rem;
        margin-top: 0.25rem;
    }
    
    .app-text {
        width: 100%;
        font-size: 10px;
        margin: 7px;
        margin-top: 0rem;
        padding-bottom: 5px;
    }

    .app-client{
        margin: 0px;
        margin-left: 5px;
    }

    .app-stack{
        margin-top: 0rem;
        margin-bottom: 5px;
    }

    .app-description{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media screen and (min-width: 620px)and (max-width: 700px) {
    .AppDetail {
        width: 75vw;
        height: 84vh;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 40px;
        padding-bottom: 1rem;
        background-color: var(--content-color-background-hover);
        box-shadow: -4px 4px 8px 3px var(--main-color-text);
        border-radius: 5px; 
    }

    .text-content{
        height: 55%;
    }

    .mainImgContainer{
        height: 65%;
        margin-bottom: 10px;
    }

    .firstBox {
        width: 100%;
        height: 60%;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }

    .secondBox {
        width: 100%;
        height: 35%;
        margin-top: 35px;
        margin-bottom: 5px;
    }
    .cardTitle{
        height: 30px;
    }

    .voirCode{
        margin-top: 0rem;
    }
    
    .underBox {
        flex-direction: row;
        width: 80%;
    }

    .topRow {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .bottomRow {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .app-secondary-img {
        height: auto;
        max-height: 95%;
        max-width: 40%;
    }

    .app-name {
        font-size: 16px;
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: 0.25rem;
    }

    .githubLogo {
        max-height: 1rem;
        max-width: 1rem;
        margin-left: 1rem;
        margin-top: 0.25rem;
    }
    
    .app-text {
        width: 100%;
        font-size: 10px;
        margin: 7px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 5px;
    }

    .app-client{
        margin: 0px;
        margin-left: 5px;
    }

    .app-stack{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .app-description{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 701px)and (max-width: 880px) {
    .app-name {
        margin: 0rem;
        margin-left: 0px;
        margin-top: 0.5rem;
        font-size: 12px;
    }
    .voirCode{
        width: 35%;
        font-family: var(--text-font);
        color: var(--main-color-text);
        font-size: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
    }

    .app-text {
        font-size: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .githubLogo {
        max-height: 1rem;
        max-width: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
    }

    .app-client{
        margin: 0px;
        margin-left: 0px;
    }

    .app-stack{
        margin-left: 0px;
    }

    .app-description{
        margin-left: 0px;
    }
    
}*/