.postList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: none; 

}

.postContainer {
    width: 94%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: none; 

}

.AppDetail {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;  
    background-color: white;
    box-shadow: 16px 8px 16px 4px whitesmoke;
    border : 0.5px solid whitesmoke;
    border-radius: 8px;
}

.AppDetail:hover {    
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: none;
}